/* css */
.btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn a{
    text-decoration-line: none;
    line-height: 40px;
    padding: 0 10px;
    transition: 0.3s;
    border: 1px solid rgb(69, 206, 246);
    border-radius: 6px;
    color: rgb(69, 206, 246);
    margin-right: 6px;
    margin-left: 6px;
    /*position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);*/
}
.btn a:hover{
    background-color: rgb(69, 206, 246);
    color: white;
}
