/* css */
:root{
    --base: #8BD7F1;
    --bac: #f5f8fc;
    --ehuang: #fff143;
    --yahuang: #faff72;
    --yingcao: #eaff56;
    --liuhuang: #c9dd22;
    --nenlv: #bddd22;

    --weilan: #70f3ff;
    --lan: #44cef6;
    --bilan: #3eede7;
    --dianqing: #177cb0;
    --shiqing: #1685a9;
    --dianlan: #065279;

    --chunbai: #ffffff;
    --qianbai: #f0f0f4;
    --yinbai: #e9e7ef;
    --xuebai: #f0fcff;
    --shuangbai: #e9f1f6;
    --yingbai: #e3f9fd;
    --yuebai: #d6ecf0;
    --xaingya: #fffbf0;
    --baifen: #fff2df;
    --yudu: #fcefe8;
    --gao: #f2ecde;
    --tubai: #f3f9f1;
    --yaluanqing: #e0eee8;
    --su: #e0f0e9;
    --qingbai: #c0ebd7;
    --xiekeqing: #bbcdc5;
    --huabai: #c2ccd0;
    --laoyin: #bacac6;
    --shuise: #88ada6;
    --cangbai: #75878a;
    --gray: #808080;


    --zhusha: #ff461f;
    --huohong: #ff2d51;
    --feise: #ed5736;
    --zhubiao: #f36838;
    --yanghong: #ff4777;
    --pinhong: #f00056;
    --fenhong: #ffb3a7;
    --taohong: #f47983;
    --haitanghong: #db5a6b;
    --yingtaohong: #c93756;
    --tuoyan: #f9906f;

    --songhua: #bce672;
    --liulv: #afdd22;
    --conghuang: #a3d900;
    --conglv: #9ed900;
    --doulv: #9ed048;
    --douqing: #96ce54;
}
/* color set 1 */
.row1 .column:nth-child(1){
    background-color: var(--ehuang);
}
.row1 .column:nth-child(2){
    background-color: var(--yahuang);
}
.row1 .column:nth-child(3){
    background-color: var(--yingcao);
}
.row1 .column:nth-child(4){
    background-color: var(--liuhuang);
}
.row1 .column:nth-child(5){
    background-color: var(--nenlv);
}


/* color set 2 */
.row2 .column:nth-child(1){
    background-color: var(--weilan);
}
.row2 .column:nth-child(2){
    background-color: var(--lan);
}
.row2 .column:nth-child(3){
    background-color: var(--bilan);
}
.row2 .column:nth-child(4){
    background-color: var(--dianqing);
}
.row2 .column:nth-child(5){
    background-color: var(--shiqing);
}
.row2 .column:nth-child(6){
    background-color: var(--dianlan);
    color: white;
}

/* color set 3 */
.row3 .column:nth-child(n+15){
    color: white;
}
.row3 .column:nth-child(1){
    background-color: var(--chunbai);
}
.row3 .column:nth-child(2){
    background-color: var(--qianbai);
}
.row3 .column:nth-child(3){
    background-color: var(--yinbai);
}
.row3 .column:nth-child(4){
    background-color: var(--xuebai);
}
.row3 .column:nth-child(5){
    background-color: var(--shuangbai);
}
.row3 .column:nth-child(6){
    background-color: var(--yingbai);
}
.row3 .column:nth-child(7){
    background-color: var(--yuebai);
}
.row3 .column:nth-child(8){
    background-color: var(--xaingya);
}
.row3 .column:nth-child(9){
    background-color: var(--baifen);
}
.row3 .column:nth-child(10){
    background-color: var(--yudu);
}
.row3 .column:nth-child(11){
    background-color: var(--gao);
}
.row3 .column:nth-child(12){
    background-color: var(--tubai);
}
.row3 .column:nth-child(13){
    background-color: var(--yaluanqing);
}
.row3 .column:nth-child(14){
    background-color: var(--su);
}
.row3 .column:nth-child(15){
    background-color: var(--qingbai);
}
.row3 .column:nth-child(16){
    background-color: var(--xiekeqing);
}
.row3 .column:nth-child(17){
    background-color: var(--huabai);
}
.row3 .column:nth-child(18){
    background-color: var(--laoyin);
}
.row3 .column:nth-child(19){
    background-color: var(--shuise);
}
.row3 .column:nth-child(20){
    background-color: var(--cangbai);
}
.row3 .column:nth-child(21){
    background-color: var(--gray);
}
/* color set 4 */
.row4 .column{
    color: white;
}
.row4 .column:nth-child(1){
    background-color: var(--zhusha);
}
.row4 .column:nth-child(2){
    background-color: var(--huohong);
}
.row4 .column:nth-child(3){
    background-color: var(--feise);
}
.row4 .column:nth-child(4){
    background-color: var(--zhubiao);
}
.row4 .column:nth-child(5){
    background-color: var(--yanghong);
}
.row4 .column:nth-child(6){
    background-color: var(--pinhong);
}
.row4 .column:nth-child(7){
    background-color: var(--fenhong);
}
.row4 .column:nth-child(8){
    background-color: var(--taohong);
}.row4 .column:nth-child(9){
     background-color: var(--haitanghong);
 }
.row4 .column:nth-child(10){
    background-color: var(--yingtaohong);
}.row4 .column:nth-child(11){
     background-color: var(--tuoyan);
 }

/* color set 5 */
.row5 .column:nth-child(1){
    background-color: var(--songhua);
}
.row5 .column:nth-child(2){
    background-color: var(--liulv);
}
.row5 .column:nth-child(3){
    background-color: var(--conghuang);
}
.row5 .column:nth-child(4){
    background-color: var(--conglv);
}
.row5 .column:nth-child(5){
    background-color: var(--doulv);
}
.row5 .column:nth-child(6){
    background-color: var(--douqing);
}

