.color-text{
    height: 30px;
    display: flex;align-items: center;justify-content: center;
}
.color-text .ct1 .icons{
    padding: 1px 4px;
    border-radius: 3px;
    transition: 0.2s;cursor: pointer;
    margin: 3px 0;
}
.color-text .ct1 .icons:hover{
    background-color: #e1e2e1;
}
.color-text .ct1 .color1 {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #96c93d;
}
.color-text .ct1 .color2 {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #00b09b;
}

.colorbox{
    height: calc(100vh - 82px);
    width: 100%;
    background: #00b09b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    justify-content: space-between;
}
.colorbox .but {
    cursor: pointer;
    height: 100px;
    width: 60px;
    background-color: rgb(245,245,245);
    opacity: 0.3;transition: 0.2s;
    transform: translateY(-40px);
    display: flex;
    align-items: center;justify-content: center;
}
.colorbox .b-left{
    border-radius: 0 12px 12px 0;
}
.colorbox .b-right{
    border-radius: 12px 0 0 12px;
}
.colorbox .but:hover {
   opacity: 0.45;
}
.colorbox .but .icon{
    fill: #333;
}
.colorbox .but:hover .icon{
    fill: black;
    transform: scale(1.1);
}
