<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>ColorChoose</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="css/btn.css">
    <link rel="stylesheet" href="css/color.css">
    <link rel="icon" href="img/Web%201920%20–%201.png">
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <!-- 字体引入 -->
    <link href="https://fonts.font.im/css?family=Noto+Sans" rel="stylesheet">
</head>
<body>
<nav>
    <div class="logo">
        <h1>ColorChoose</h1>
    </div>
    <div class="btn">
        <span>中国传统颜色</span>
    </div>
</nav>
    <div class="body-box" id="color">
        <div class="row row1">
<!--            <div class="column" id="copyColor">-->
<!--                <h4>鹅黄色</h4>-->
<!--                <p id="colorvalue">#fff143</p>-->
<!--            </div>-->
<!--            <div class="column btn" data-clipboard-target="#f1">-->
<!--                <h4>鸭黄色</h4>-->
<!--                <p id="f1">#faff72</p>-->
<!--            </div>-->
            <colortemplate
                    v-for="item in selectColor"
                    v-bind:toget="item"
                    v-bind:key="item.id">
            </colortemplate>
        </div>
        <div class="row row2">
            <colortemplate
                    v-for="item in selectColor2"
                    v-bind:toget="item"
                    v-bind:key="item.id">
            </colortemplate>

            <div class="column">
                <!-- Target -->
                <h4><input id="foo" value="https://github.com/zenorocha/clipboard.js.git"></h4>
                <!-- Trigger -->
                <p><button class="btn" data-clipboard-target="#foo">
                    <img src="img/clippy.svg" alt="Copy to clipboard">
                </button></p>
            </div>
        </div>
        <div class="row row3">
            <colortemplate
                    v-for="item in selectColor3"
                    v-bind:toget="item"
                    v-bind:key="item.id">
            </colortemplate>
        </div>
        <div class="row row4">
            <colortemplate
                    v-for="item in selectColor4"
                    v-bind:toget="item"
                    v-bind:key="item.id">
            </colortemplate>
        </div>
        <div class="row row5">
            <colortemplate
                    v-for="item in selectColor5"
                    v-bind:toget="item"
                    v-bind:key="item.id">
            </colortemplate>
        </div>
    </div>
<footer>
    <div></div>
    <button id="btn" onclick="func()">btn</button>
</footer>
<!--<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>-->
    <script src="index.js"></script>
    <script src="clipboard.js"></script>
</body>
</html>